mixin lorem()

	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, ad, commodi? Quae fuga, iste recusandae incidunt dolore possimus enim odit, eaque ullam perspiciatis, ducimus esse vitae sunt quos omnis voluptatem.
	
	- var i = 3; while(i--)
		- if (Math.random > 0.5)
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, ad, commodi? Quae fuga, iste recusandae incidunt dolore possimus enim odit, eaque ullam perspiciatis, ducimus esse vitae sunt quos omnis voluptatem.
