extends ../shared/layout.jade

block body
	h1 mxm-expander
	a(data-expander-toggler='demo1 demo2' href="#") Toggler double
	br
	a(data-expander-toggler='demo1' href='#') Toggle 1
	div(data-expander-content='demo1')
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ratione, esse aspernatur, ipsa vitae officiis quia consequuntur expedita dicta eius vel impedit fugiat, recusandae? Velit porro, impedit provident hic enim!
	a(data-expander-toggler='demo2' href='#') Toggle 2
	div(data-expander-content='demo2' data-expander-state='open')
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ratione, esse aspernatur, ipsa vitae officiis quia consequuntur expedita dicta eius vel impedit fugiat, recusandae? Velit porro, impedit provident hic enim!
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ratione, esse aspernatur, ipsa vitae officiis quia consequuntur expedita dicta eius vel impedit fugiat, recusandae? Velit porro, impedit provident hic enim!
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ratione, esse aspernatur, ipsa vitae officiis quia consequuntur expedita dicta eius vel impedit fugiat, recusandae? Velit porro, impedit provident hic enim!